@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
// Colors
$themeWhiteBgColor: #f7f7f7;
$themeBlackBgColor: #11142d;
$themeTextColor: #3a3a3a;

// fonts
$primaryFont: "Poppins", "Helvetica" sans-serif;
$secondaryFont: "Poppins", "Helvetica" sans-serif;
// font weight
$fontWeightThink: 300;
$fontWeightRegular: 400;
$fontWeightMediumBold: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
$fontWeightBlack: 900;

// font && height
$themeLineHeight: 26px;
$themeFontSize: 14px;
$selectDisabledBg: #cccccc70;
