@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=PT+Sans:ital,wght@0,700;1,400;1,700&display=swap");
// Colors
$themeColor: #242424;
$themeBgColor: #f0f8f3;
$textThikColor: #242424;
$inputPlaceholderColor: #929292;
$primaryTextColor: #007456;
$primaryBgColor: #007456;
$secondaryBgColor: #71b132;
$secondaryTextColor: #71b132;
$whiteTextColor: #fff;
$whiteBgColor: #fff;
$blackTextColor: #000;
$blackBgColor: #000;
$darkBgColor: #393554;
$primaryTransparentTextColor: #f0f8f3;
$primaryTransparentBgColor: #f0f8f3;
$infoColor: #007456;

// fonts
$primaryFont: "Mulish", sans-serif;
$secondaryFont: "PT Sans", sans-serif;
// font weight
$fontWeightThink: 300;
$fontWeightRegular: 400;
$fontWeightMediumBold: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
$fontWeightBlack: 900;

// radius
$primaryBtnRadius: 5px;
$secondaryBtnRadius: 17px;
$themeRadius: 6px;
$primaryRadius: 16px;

// font size
$primaryBtnFontSize: 14px;
$secondaryBtnFontSize: 14px;
$themeFontSize: 14px;
$themeLineHeight: 22px;

//  border
$primaryBorderColor: #05ad00;

// form field background and color
$formFieldBg: #f0f8f3;
$formFieldColor: #000;

// button
$disabledBtn: #e6d0d03b;

// box shadow
$primaryBoxShadow: 0px 3px 6px #00000029;
// padding
$primaryCardPadding: 30px 25px;
