// tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-2 py-2 font-medium bg-red text-white rounded-cardM shadow-sm tracking-wide;
  }
  .button-action {
    @apply bg-midnight hover:bg-red hover:text-white;
  }
}
// base css
@import "./base/variables";
@import "./base/typhography";
@import "./base/button";

// constants
@import "./constants/constants";
@import "./constants/loading";
@import "./constants/cv";
@import "./constants/login";

.heading {
  background-color: #ddd;
  padding: 10px;
  cursor: pointer;
}
.heading h3 {
  font-size: 18px;
}
.active {
  visibility: visible;
  opacity: 1;
  background-color: #f7f7f7;
}
.no-content {
  background-color: #f7f7f7;
  overflow: hidden;
}
.content {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  background-color: #f7f7f7;
  max-height: 0;
  transition: all 0.3s linear;
}
.content.active {
  overflow: visible !important;
  height: auto;
  opacity: 1;
  max-height: 100px;
  visibility: visible;
}
.inner-content {
  padding: 20px 15px;
}

// formik page
.formik-form {
  max-width: 800px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 40px;
  margin: auto;
}
.single-field {
  label {
    display: block;
  }
  input {
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    padding: 2px 10px;
    width: 100%;
  }
  margin-bottom: 10px;
}
.submit-btn {
  border: none;
  background-color: #3f51b5;
  color: #fff;
  padding: 2px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.primary {
  color: #fff;
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  margin-right: 10px;
  padding: 3px 10px;
}
.secondary {
  color: #fff;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: orange;
  padding: 3px 10px;
}
